:root {
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	-ms-overflow-style: -ms-autohiding-scrollbar; 
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
}

.container {
	width: calc(100% - 2rem);
	max-width: 120ch;
    margin: 0 auto;

}

header {
	background: #052228;
	color: white;
	height: 4rem;
}

header .container {
	display: flex;
	align-items: center;
	height: 100%;
}

/* #navbar {
	display: flex;
	align-items: center;
} */

header a {
	color: inherit;
    text-decoration: none;
}

header a img {
	font-size: 40px;
}

/* header a:hover {
    background-color:rgb(207, 176, 39);
} */


.brand {
	display: flex;
	align-items: center;
	/* font-size: 2rem;
	margin-right: 1rem; */
}

.brand img {
	margin-right: 1rem;
    /* height: 45; */
    /* width: 100; */
}

nav > * + * {
	margin-left: 1rem;
}

section {
	padding: 2rem 0;
}

section + section {
	border-top: 1px solid whitesmoke;
}

.hero {
	color: white;
	position: relative;
	background-color: rgba(0, 0, 0, 0.75);
	height: calc(100vh - 4rem);
	padding: 2rem 0;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/images/kkk.jpg");
	background-position: center center;
	background-size: cover;
	z-index: -1;
}

.hero .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

.call-to-action {
	background-color: transparent;
	border: #ffda44;
	cursor: pointer;
	border-style: solid;
	border-width: 2px;
	color: #ffda44;
	border-radius: 5px;
	width:130px;
	height:40px;	
	margin-right: 1rem;
}

.title {
	font-size: 7rem;
	margin: 0;
}

.subtitle {
	font-size: 2.5rem;
	margin: 0;
}

.row {
	display: flex;
	justify-content: center;
}

.column + .column {
	margin-left: 1rem;
}

.carousel {
	align-self: center;
	object-fit: inherit;
}

ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer {
	display: flex;
	align-items: center;
	margin-top: 3rem;
	padding-top: 1rem;
	padding-bottom: 4rem;
	border-top: 1px solid whitesmoke;
}

@media (max-width: 414px) {
	header {
		height: 5rem;
	}
	header .container,
	.row {
		flex-direction: column;
		justify-content: center;
	}
	.hero {
		height: calc(100vh - 5rem);
	}
	
	.column + .column {
		margin-top: 1rem;
		margin-left: 0;
	}
}

/* #about {
	display: grid;
	grid-template-columns: 50% 50%;
} */




/* js */

for (const a of document.querySelectorAll('a[href*="#"]')) {
	a.addEventListener('click', ev => {
		document
			.getElementById(a.hash.substr(1))
			.scrollIntoView({ behavior: 'smooth' })
		ev.preventDefault()
	})
}